/* 
    font-family: 'Roboto', ;

    font-family: 'Montserrat'
    */

*{
    padding: 0; margin: 0; box-sizing: border-box; 
  }
section {
  padding: 40px 36px 0 36px;
}

.hero {
  padding: 40px 36px 0 36px;
  height: 508px;
  width: auto;  
  background-image: url("images/hero375.png");
}
.heronormal{
  object-fit: cover;
  width: auto;
  max-height: 508px;
}
.heroitems {
  position: absolute;
  display: flex;
  top: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 521px;
  z-index: 10;
  
}

.lisaimg {
  height: 162px;
  width: 162px;
  border-radius: 50%;
  border: solid 3px white;
}
.heroitems {
  padding: 105px 41px 0 41px;
}

.linkedinlink img {
  width: 15px;
  height: 15px;
}
.gitlink img {
  width: 17px;
  height: 17px;
}
.stacklink img {
  width: 19px;
  height: 19px;
}
.social-links a {
  border-width: 40px;
  border-radius: 50%;
  border: solid 3px white;
  padding: 8px;
}
.headertxt {
  font-family: 'Montserrat';
  color: white;
}
.headertxt h1 {
  font-weight: bold;
  font-size: 40px;
}
.roboto {
  font-family: 'Roboto';
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.52;
}
strong {
  font-weight: bold;
  margin-left: 5px;
}

.introtxt {
  background-color: #f4f4f4;
}
.textbox {
  /*width: 302px;*/
  height: auto;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: 'Montserrat';
  line-height: 30px;
}
.line {
  height: 2px;
  width: 40px;
  background-color: rgb(238, 9, 9);
  display: inline-block;
  position: relative;
  bottom: .25em;
  }

.dot {
  height: 10px;
  width: 10px;
  background-color: rgb(238, 9, 9);
  border-radius: 50%;
  display: inline-block;
  margin-left: -4px;
  margin-right: 12px;
}


.tech {
  /*width: 302px;*/
  margin: 0 auto;
  height: auto;
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: 'Montserrat';
  line-height: 30px;
}
h2 {
  background:red;
  color: white;
  width: fit-content;
  padding: 4px;
  font-family: 'Montserrat';
  text-align: center;
  margin: 0 auto;
  font-size: 22px;
  margin-bottom: 20px;
}

h4 {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 17px;
  color: red;
  display: inline-block;
}
h5 {
  background-color: rgba(255, 192, 203, 0.9);
  font-size: 9px;
  line-height: 10px;
  width: fit-content;
  display: inline-block;
  margin: 3px;
  color: rgba(43, 46, 52, 0.7);
  border: 1px solid rgba(253, 223, 231, 0.9);
  padding: 4px 5px;
}
h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  color: red;
  padding: 30px;
}

.smltags {
  display: flex;
  justify-content: left;
  
}
.linkarrows {
  color: red;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}
.featured-projects {
  background-color: #f4f4f4;
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.project-card {
  /*width: 302px;*/
  margin: 0 auto;
  height: auto;
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: 'Roboto';
  font-size: 17px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
}
.other-projects {
  background-color: #f4f4f4;
}
.other-project-link {
 /* width: 302px;*/
  margin: 0 auto;
  height: auto;
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: 'Roboto';
  font-size: 17px;
  line-height: 30px;
}

.blog-card {
  /*width: 302px;*/
  margin: 0 auto;
  height: auto;
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: 'Roboto';
  font-size: 17px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.blog-date {
  color: red;
}
.blog-head {
  font-size: 21px;
  font-weight: bold;
}



.skills {
  margin-top: 40px;
  padding-top: 40px;
  background-color: #f4f4f4;
}
.list-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-flow: wrap;
  margin: 0 auto;
  height: auto;
  padding-bottom: 35px;
  font-family: 'Roboto';
  font-size: 17px;
  line-height: 30px;
  align-items: flex-start;
}
.skill {
  min-width: 140px;
  padding-top: 15px;
}
.more {
  width: auto;
  margin-top: 40px;
}
.more-container-social-links {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.red-icons {
  width: 59px;
  height: 58px;
  border-radius: 50%;
  border: solid 3px red;
  padding: 15px;
}

.red-link a{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.link-text {
  text-decoration: none;
  color: red;
  font-size: 11px;
  font-family: 'Roboto'
}
.linkedin-size img {
  width: 15px;
  height: 15px;
  }

footer {
  background-color:#072BCE;
  min-height: 266px;
  padding-top: 40px;

}
.footer-robo {
font-family: 'Roboto';
font-size: 21px;
font-weight: bold;
padding: 10px;
}
.footer-mont {
  font-family: 'Montserrat';
  font-size: 17px;
  line-height: 29px;
}
.footer-text {
  text-align: center;
  color: white;
}


/***** MEDIA QUERY ****/

@media only screen and (min-width: 676px){
 
  .hero { 
    background-image: url("images/pencils.jpg");
  }
.heroitems {
  min-width: 670px;
}
.blog-cards{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.blog-card-img {
  max-width: 300px;
}
.blog-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 303px;
}

.project-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
}
@media only screen and (min-width: 1024px){

  .headertxt {
    align-self: flex-start;
  }
  .heroitems {
    width: 800px;
    left: 100px;
  }

section {
  padding: 20px 21%;
}

.project-card {
  margin: 30px;
  max-width: 303px;
}
.featured-projects {
  padding: 20px 11%;
}
}